version: "3"

services:

  installer:
    image: chrif/cocotte
    command: install
    volumes:
      - ./host:/host
      - ./installer:/installer
      - ./installer/etc/xdebug.ini:/etc/php7/conf.d/xdebug.ini
      - ./installer/etc/php.ini:/etc/php7/conf.d/zzz-php.ini
    environment:
      XDEBUG_CONFIG: "remote_host=${HOST_IP}"
      PHP_IDE_CONFIG: "serverName=cocotte"
    env_file:
      .env

  wizard:
    image: chrif/cocotte
    command: wizard
    volumes:
      - ./installer:/installer
      - ./installer/etc/xdebug.ini:/etc/php7/conf.d/xdebug.ini
      - ./installer/etc/php.ini:/etc/php7/conf.d/zzz-php.ini
    environment:
      XDEBUG_CONFIG: "remote_host=${HOST_IP}"
      PHP_IDE_CONFIG: "serverName=cocotte"

  travis:
    image: chrif/travis-cli
    volumes:
      - .:/opt/project
    environment:
      TRAVIS_TOKEN: ${TRAVIS_TOKEN}
