version: "3"

services:
  app:
    entrypoint: /bin/true
    restart: "no"
    volumes:
      - .:/opt/app
  nginx:
    volumes:
      - .:/opt/app
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
  php:
    volumes:
      - .:/opt/app
      - ./docker/php/dev.ini:/usr/local/etc/php/conf.d/dev.ini
    env_file:
      - .env
      - .env-override
      - .env-droplet
  data:
    build:
      dockerfile: Dockerfile-override
    volumes:
      - .:/opt/app
    env_file:
      - .env
      - .env-override

  travis:
    build: docker/travis
    image: travis
    container_name: travis
    volumes:
      - .:/opt/app
