version: '3'

services:
  traefik:
    command: "
              -c ${APP_TRAEFIK_CONFIG:-/opt/app/traefik.dev.toml}
              --docker.domain=${DOCKER_DOMAIN:-docker.localhost}
              "
    volumes:
      - .:/opt/app
  data:
    volumes:
      - .:/opt/app
