!/template/traefik/var/.gitignore
!/var/.gitkeep
/.dockerignore
/.gitignore
/Dockerfile
/etc/xdebug.ini
/template/static/.env
/template/static/.env-override
/template/static/docker-compose.override.yml
/template/traefik/.env
/template/traefik/.env-override
/template/traefik/docker-compose.override.yml
/template/traefik/var/
/var
/vendor
