<!-- https://phpunit.readthedocs.io/en/7.1/configuration.html#appendixes-configuration -->
<!--suppress XmlUnboundNsPrefix -->
<phpunit bootstrap="test/bootstrap.php"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="unit">
            <directory>test/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>test/Functional</directory>
        </testsuite>
    </testsuites>

</phpunit>
