<!-- https://phpunit.readthedocs.io/en/7.1/configuration.html#appendixes-configuration -->
<!--suppress XmlUnboundNsPrefix -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="test/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <testsuites>

        <testsuite name="unit">
            <directory>test/Unit</directory>
        </testsuite>

        <testsuite name="integration">
            <directory>test/Integration</directory>
        </testsuite>

        <testsuite name="system">
            <directory>test/System</directory>
        </testsuite>

    </testsuites>

</phpunit>
