<!-- https://github.com/sebastianbergmann/phpunit-documentation-english/blob/7.2/src/configuration.rst -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="test/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <testsuites>

        <testsuite name="unit">
            <directory>test/Unit</directory>
        </testsuite>

        <testsuite name="integration">
            <directory>test/Integration</directory>
        </testsuite>

        <testsuite name="system">
            <directory>test/System/Install</directory>
            <directory>test/System/Template</directory>
            <directory>test/System/Uninstall</directory>
        </testsuite>

    </testsuites>

</phpunit>
